.container{
    margin:10px auto;
    width:500px;
}

*{
    padding:0px;
    margin:0px;
}

input{
    padding:5px;
    border:1px solid #ebebeb;
    margin:4px;
    border-radius:5px;
    outline:none;
    transition:border 0.5s;
    width:60%;

}

input:hover{
  border: 1px solid darkcyan;
}

button{
    padding:5px;
    border-radius:5px;
    outline:none;
    border:1px solid darkcyan;
    // box-shadow:1px 1px 1px black;
    cursor:pointer;
    color:white;
    background-color: darkcyan;
}

.myList{
    border:1px solid #ebebeb;
    padding:5px;
    border-radius: 10px;
    margin:5px
}

table{
    width:100%;
    border-spacing: none;
}

td,th{
    border:1px solid #ebebeb;
    text-align: center;
}

.done{
    cursor:pointer;
    background:green;
    color:white
}

del{
    color:red;
}

.remove{
    background-color: red;
}
h3{
    text-align: center;
}

.table-responsive{
    max-height: 550px;
    overflow: auto;
}


@media screen and (max-width:767px){
    .container{
        width:100%;
        margin:0px auto;
    }

    input{
        width:50%;
        margin:auto
    }
    form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: centet;
    }
}

// @media scree and (min-width:768px){

    .table-responsive::-webkit-scrollbar{
        width:8px;
        background-color: #111;
    }

    .table-responsive::-webkit-scrollbar-thumb{
        background-color: darkcyan;
    }
// }